<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=UTF-8">
  <title>Email sent</title>
</head>
<body>
An email has been sent with the below content:<br>
<br style="font-weight: bold;">
<table border="1" width="100%" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; font-weight: bold;">Subject:</td> 
      <td style="vertical-align: top;"><%=Subject%><br>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Body:</td>
      <td> <%=Body%></td>
    </tr>
  </tbody>
</table>
</body>
</html>
